<h1 class="mb-4">Events</h1>
<div class="row">
  <% events.forEach(event => { %>
    <div class="col-sm-4">
      <div class="card mb-4 p-3 rounded-0">
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= event.description %></p>
          <a href="/register/<%= event.id %>" class="btn btn-primary">Register</a>
          <a href="/view/<%= event.id %>" class="btn btn-secondary">View</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>